@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}

.chatbox-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    animation: shake 0.5s infinite; /* Sử dụng animation CSS */
}

